*.svn
*/tmtags
RSpec.tmbundle
example_rails_app/config/database.yml
example_rails_app/db/schema.rb
example_rails_app/db/*.db
example_rails_app/log
example_rails_app/coverage
example_rails_app/vendor
.DS_Store
.emacs-project
*.iml
*.ipr
*.iws
*~
